name: Update rates
on: workflow_dispatch
jobs:
  update-euribor-rates:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Fetch and insert rates
        bash: shell
        env:
          PUSHOVER_APP_TOKEN: ${{ secrets.PUSHOVER_APP_TOKEN }}
          PUSHOVER_USER_KEY: ${{ secrets.PUSHOVER_USER_KEY }}
        run: |
          ./fetch-parse-insert.sh
          if [[ `git status --porcelain` ]]; then
            gh run cancel ${{ github.run_id }}
            exit 1
          fi
      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
